.login-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    height: max-content;
    min-height: 30%;
    width: 380px;
    max-width: 90%;
    border-radius: 3px;
    background-color: var(--white);
    padding: 1rem;
    border: 1px solid var(--black);

}

.login-form-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0 0 0;
    color: var(--black);
    letter-spacing: 3px;
}

.login-form-subheading {
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
}

.login-form-inputs {
    margin-bottom: 1rem;
}

.login-form-inputs input {
    padding: 0.2rem 0.4rem;
    width: 85%;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: border .3s ease;
    margin-bottom: 1rem;
    background-color: rgb(243, 243, 243);

}

.action-btn {
    display: flex;
    justify-content: center;
    padding: 0;
}

.login-btn {
    font-weight: 600;
    background: var(--black);
    color: var(--white);
    width: 10vw;
    border: 2px solid var(--white);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-btn:hover {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
}

.login-page-btn {
    padding: 0.5rem 1rem;
}